* {
  margin: 0;
  padding: 0;
}

td {
  padding-left: 10px;
}

#main {
  background-color: #045de9;
  background-image: linear-gradient(#09c6f9 0%, #045de9 74%);
}

.ui.header.name {
  color: white;
}
